{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">{{ product.author }}</h1>
          <small> shop</small>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}
            http://placehold.it/750x300{% endif %}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>{{ product.price }} руб.</h4>
              <form action="{% url "cart_add" product.id %}" method="post">
                  {{ cart_product_form }}
                  {% csrf_token %}
                  <input type="submit" value="Add to cart">
              </form>
            <p class="card-text">{{ product.pre_description }}</p>
              Просмотры {{ num_visits_product }}
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Ревью
          </div>
          <div class="card-body">
            <p>{{ product.description }}</p>
{#            <small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

{% endblock %}