{% extends 'base.html' %}
{% load static %}


{% block title %}
    Продукты

{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            Ваша корзина
            <a href="{% url "cart_detail" %}">
                {{ cart.get_total_price }} рублей
            </a>
        {% else %}
            Ваша корзина пустая
        {% endif %}
    {% endwith %}
</div>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
         {% for products in product_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{% if products.image %}{{ products.image.url }}{% else %}
            http://placehold.it/750x300{% endif %}" alt="" ></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ products.get_absolute_url }}">{{ products.name }}</a>
                </h4>
                <h5>{{ products.price }} руб.</h5>
                <p class="card-text">{{ products.pre_description }}</p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>

  <!-- /.container -->

{% endblock %}