{% extends 'base.html' %}
{% load static %}

{% block style %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/detail/product/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/detail/product/css/shop-item.css" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">{{ product.author }}</h1>
          <small> shop</small>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>{{ product.price }} руб.</h4>
            <p class="card-text">{{ product.pre_description }}</p>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Ревью
          </div>
          <div class="card-body">
            <p>{{ product.description }}</p>
{#            <small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/detail/product/vendor/jquery/jquery.min.js"></script>
  <script src="/static/detail/product/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}